.formulario {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.formulario form {
    max-width: 90%;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 1px rgba(0,0,0.18, 0.18);
}